@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC";
}
.headout {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 5;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  height: 54px;
  background-color: #ffffff;
}
.maintitle {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: #448899;
  margin-left: 15px;
  cursor: pointer;
}
.nav_text {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  flex: auto;
  cursor: pointer;
}
#reservation_button {
  text-decoration: none;
  color: #666666;
}

#login_button {
  text-decoration: none;
  color: #666666;
  display: flex;
  cursor: pointer;
}
#logout_button {
  text-decoration: none;
  color: #666666;
  display: none;
  cursor: pointer;
}
#stout{
  display: flex;
  justify-content:flex-start;
  max-width: 1000px;
  width: 100%;
  max-height: 120px;
  margin: auto;
  flex-wrap: wrap
}
#booktitlebox{
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  height: 250px;
  margin: auto;
  flex-direction:column ;
}
#booktitle{
  display: flex;
  width:300px;
  max-width: 1200px;
  margin-top: 50px;
  align-items: center;
  height:60px;
  font-size: 19px;
  font-weight: bold;
  flex-direction:column ;
  color: #666666; 
}
#booktitle a {
  display: flex;
}
#remindnumber{
  display: flex;
  width:600px;
  max-width: 1200px;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
  height:60px;
  font-size: 19px;
  flex-direction:column ;
  color: #666666;  
}
#numberBox{
  display: flex;
  width:300px;
  max-width: 1200px;
  margin-top: 30px;
  justify-content: center;
  height:60px;
  font-size: 19px;
  color: #666666;   
}
#nobook{
  display: flex;
  margin-bottom: 40px ;
  color: #666666;
}
#section1 {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  height: 240px;
  margin: auto;
  flex-wrap: wrap;
}
#s1_title {
  display: flex;
  width: 1000px;
  align-items: center;
  max-width: 1200px;
  height:60px;
  font-size: 19px;
  font-weight: bold;
  color: #666666;
}

#delete {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
#s1_out {
  display: flex;
  width: 100%;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  max-width: 1000px;
}
#s1_pic_out {
  flex: 0 0 266px;
  display: flex;
  width: 266px;
  height: 200px;
  overflow:hidden;
  /* margin-left: 100px; */
}



.bookImg {
  display: flex;
  width: 100%;
  height: 206px;
  object-fit: cover;
}
#s1_text_out {
  flex-direction: column;
  display: flex;
  font-size: 16px;
  width: 740px;
  margin-left: 20px;
  height: 200px;
  color: #666666;
  position: relative;
}

#s1_text_out a {
  font-weight: bold;
}

#attraction {
  display: flex;
  height: 14px;
  margin-bottom: 30px;
  color: #448899;
  font-weight: bold;
}
#date {
  margin-bottom: 20px;
  height: 14px;
}
#time {
  margin-bottom: 20px;
  height: 14px;
}
#cost {
  margin-bottom: 20px;
  height: 14px;
}
#address {
  height: 14px;
}
#line1 {
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 1200px;
  height: 1px;
  background-color: #e8e8e8;
  margin: auto;
}
#section2 {
  display: flex;
  justify-content: flex-start;
  max-width: 1000px;
  width: 100%;
  height: 307px;
  margin: auto;
  font-size: 16px;
  color: #666666;
}
#content {
  display: flex;
  margin-top: 44px;
  margin-left: 0px;
  flex-direction: column;
}
#info_title {
  display: flex;
  font-weight: bold;
  height: 16px;
  margin-bottom: 9px;
}
#section3 {
  display: flex;
  justify-content: flex-start;
  max-width: 1000px;
  width: 100%;
  height: 268px;
  margin: auto;
  font-size: 16px;
  color: #666666;
}
#creditcard {
  display: flex;
  font-weight: bold;
  height: 16px;
  margin-bottom: 14px;
}
input {
  width: 180px;
  height: 18px;
  margin-top: 15px;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #e8e8e8;
}

.tpfield {
  height: 18px;
  width: 180px;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 5px;
  border: 1px solid #e8e8e8;
  padding: 10px;
}
label{
  display: flex;
}
.form-group{
  display: flex;
  align-items: center;
}


#remind {
  font-weight: bold;
  margin-top: 20px;
}

#line2 {
  width: 100%;
  justify-content: center;
  max-width: 1200px;
  height: 1px;
  background-color: #e8e8e8;
  margin: auto;
}
#section3 {
  display: flex;
  justify-content: flex-start;
  max-width: 1000px;
  width: 100%;
  height: 268px;
  margin: auto;
  font-size: 16px;
}
#line3 {
  width: 100%;
  justify-content: center;
  max-width: 1200px;
  height: 1px;
  background-color: #e8e8e8;
  margin: auto;
  margin-bottom: 43px;
}
#checkinfoBox{
  display: flex;
  justify-content: end;
  max-width: 1000px;
  width: 100%;
  height: 43px;
  margin: auto;
}
#checkinfo {
  display: flex;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 5px;
  height: 14px;
  font-weight: bold;
  color: #e50000;
}
#confirm {
  display: flex;
  align-items: flex-end;
  max-width: 1000px;
  width: 100%;
  height: 136px;
  margin: auto;
  flex-direction: column;
}

#totalcost {
  display: flex;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 25px;
  height: 14px;
  font-weight: bold;
  color: #666666;
}

#confirmBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 173px;
  height: 36px;
  font-size: 19px;
  border: none;
  color: #ffffff;
  background-color: #448899;
  border-radius: 4px;
  cursor: pointer;
}
#confirmBtntext {
  display: flex;
  margin-bottom: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 104px;
  justify-content: space-around;
  color: #ffffff;
  font-size: 16px;
  background-color: #757575;
}
#extendout{
  display: none;
  width: 100%;
  height:70.1vh ;
  max-height: 100%;
}
#extend{
  display: flex;
  width: 100%;
  background-color: #757575;
  height:70.1vh;
}
#extendout2{
  display: flex;
  width: 100%;
  height:56.1vh ;
  max-height: 100%;
}
#extend2{
  display: flex;
  width: 100%;
  background-color: #757575;
  height:56.1vh;
}
.successlogin {
  display: flex;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  margin-bottom: 0;
}

.popup_signup {
  background: rgb(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  z-index: 20;
  justify-content: center;
}
.popup {
  background: rgb(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  z-index: 20;
  justify-content: center;
}
.popup-content {
  margin-top: 80px;
  width: 340px;
  height: 280px;
  max-height: 325px;
  background: #ffffff;
  border-radius: 5px;
  position: relative;
}
.popup-content2 {
  margin-top: 80px;
  width: 340px;
  height: 332px;
  max-height: 370px;
  background: #ffffff;
  border-radius: 5px;
  position: relative;
}
.top-line {
  height: 10px;
  background-image: linear-gradient(to right, #66aabb, #337788);
  border-radius: 5px 5px 0px 0px;
}
.popup-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin: 15px 15px 10px 15px;
  font-weight: bold;
  color: #666666;
}
.login_input {
  margin: 5px 15px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  width: 276px;
  height: 13px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #cccccc;
}

.siginup_text {
  display: flex;
  border: 0;
  background-color: #448899;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 310px;
  height: 47px;
  margin: 5px 15px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
.login_text {
  display: flex;
  border: 0;
  background-color: #448899;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 310px;
  height: 47px;
  margin: 5px 15px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
.close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 30px;
  right: 15px;
  cursor: pointer;
}
.close2 {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 30px;
  right: 15px;
  cursor: pointer;
}
.no_account {
  display: flex;
  font-size: 16px;
  width: 310px;
  height: 22px;
  justify-content: center;
  align-items: center;
  margin: 5px 15px;
  color: #666666;
}
.have_account {
  display: flex;
  font-size: 16px;
  width: 310px;
  height: 22px;
  justify-content: center;
  align-items: center;
  margin: 5px 15px;
  color: #666666;
}
.loginerror {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
#switch_sinup {
  color: #666666;
  text-decoration: none;
  cursor: pointer;
}
#switch_login {
  color: #666666;
  text-decoration: none;
  cursor: pointer;
}

.tappay-field-focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.has-error .tappay-field-focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-success .tappay-field-focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

  
@media screen and (max-width: 1200px){

  #section1 {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    height: 240px;
    margin: auto;
    flex-wrap: wrap;
  }
  #s1_pic_out {
    width: 266px;
  }
  #stout{
    width: 95%;
  }
  #warp {
    display: flex;
    justify-content: center;
    /* max-width: 1000px; */
    width: 95%;
    margin: auto;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }

  #delete {
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

}


@media screen and (max-width: 600px) {

  #section1{
    height: 488px;
  }
  #s1_out {
    flex-wrap: wrap;
  }
  #s1_pic_out {
    flex: 0 1 auto;
    height: 256px;
    width: 100%;
  }
  #s1_pic_out img {
    object-fit: cover;
    width: 100%;
  }
  #delete {
    top: 165px;
  }
}