<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static',
    filename='taipei-day-trip.css') }}/>
  </head>
  <body>
    <header>
      <div class="maintitle">台北一日遊</div>
      <nav>
        <a style="margin-right: 1rem" href="#">預定行程</a>
        <a href="#">登入</a>
        <a href="#">/註冊</a>
      </nav>
    </header>
    <div class="welcome">
      <img id="welcome_img" src="../static/welcome 1.png" />
      <div class="welcome_left">
        <div class="text1">輕鬆享受台北一日悠閒</div>
        <div class="text2">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="search" action="/api/attractions" method="GET">
          <div class="s1">
            <input
              type="text"
              placeholder="請輸入景點名稱查詢"
              onfocus="this.placeholder=''"
              onblur="this.placeholder='請輸入景點名稱查詢'"
              id="searchkeyword"
              name="keyword"
            />
            <button class="btn2" id="searchBtn" style="border: none">
              <img
                id="b2"
                style="width: 60px; height: 46px"
                src="../static/btfix.png"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="warp"></div>
    <footer>
      <div class="foot">
        <div>COPYRIGHT © 2021台北一日遊</div>
      </div>
    </footer>
    <script>
      let Page = 0;

      function createdata() {
        let src = "http://127.0.0.1:3000/api/attractions?page=0";
        fetch(src)
          .then(function (response) {
            return response.json();
          })
          .then(function (result) {
            let img_list = [];
            let name_list = [];
            let mrt_list = [];
            let category_list = [];
            let datas = result.data;
            let nextpage = result.nextPage;
            Page = nextpage;

            for (let i in datas) {
              name_list.push(datas[i].name);
              img_list.push(datas[i].images[0]);
              mrt_list.push(datas[i].mrt);
              category_list.push(datas[i].category);
            }
            for (let i = 0; i < datas.length; i++) {
              let pic = document.getElementsByClassName("warp")[0];
              let divitem = document.createElement("item");
              let name_container = document.createElement("div");
              let divtext = document.createElement("div");
              let p_container = document.createElement("div");
              let mrt_text = document.createElement("div");
              name_container.className = "name_container";
              mrt_text.className = "mrt_text";
              let category_text = document.createElement("div");
              category_text.className = "category_text";
              let textNode = document.createTextNode(name_list[i]);
              divitem.className = "item";
              divtext.className = "pictext";
              p_container.className = "p_container";
              let imgNode = document.createElement("img");
              imgNode.className = "cover";
              let mrtNode = document.createTextNode(mrt_list[i]);
              let categoryNode = document.createTextNode(category_list[i]);
              imgNode.src = img_list[i];
              divtext.appendChild(textNode);
              mrt_text.appendChild(mrtNode);
              name_container.appendChild(divtext);
              category_text.appendChild(categoryNode);
              p_container.appendChild(imgNode);
              p_container.appendChild(name_container);
              divitem.appendChild(p_container);
              divitem.appendChild(mrt_text);
              divitem.appendChild(category_text);
              pic.appendChild(divitem);
            }
            // let outer_warp = document.getElementsByClassName("outer_warp")[0];
            // let control = document.createElement("div");
            // control.className = "control";
            // outer_warp.appendChild(control);
          });
        function loadmore() {
          if (Page !== 0 && Page !== "null") {
            src = "http://127.0.0.1:3000/api/attractions?page=" + Page;
            fetch(src)
              .then(function (response) {
                return response.json();
              })
              .then(function (result) {
                let img_list = [];
                let name_list = [];
                let mrt_list = [];
                let category_list = [];
                let datas = result.data;
                let nextpage = result.nextPage;
                Page = nextpage;
                for (let i in datas) {
                  name_list.push(datas[i].name);
                  img_list.push(datas[i].images[0]);
                  mrt_list.push(datas[i].mrt);
                  category_list.push(datas[i].category);
                }
                for (let i = 0; i < datas.length; i++) {
                  let pic = document.getElementsByClassName("warp")[0];
                  let divitem = document.createElement("item");
                  let name_container = document.createElement("div");
                  let divtext = document.createElement("div");
                  let p_container = document.createElement("div");
                  let mrt_text = document.createElement("div");
                  name_container.className = "name_container";
                  mrt_text.className = "mrt_text";
                  let category_text = document.createElement("div");
                  category_text.className = "category_text";
                  let textNode = document.createTextNode(name_list[i]);
                  divitem.className = "item";
                  divtext.className = "pictext";
                  p_container.className = "p_container";
                  let imgNode = document.createElement("img");
                  imgNode.className = "cover";
                  let mrtNode = document.createTextNode(mrt_list[i]);
                  let categoryNode = document.createTextNode(category_list[i]);
                  imgNode.src = img_list[i];
                  divtext.appendChild(textNode);
                  mrt_text.appendChild(mrtNode);
                  name_container.appendChild(divtext);
                  category_text.appendChild(categoryNode);
                  p_container.appendChild(imgNode);
                  p_container.appendChild(name_container);
                  divitem.appendChild(p_container);
                  divitem.appendChild(mrt_text);
                  divitem.appendChild(category_text);
                  pic.appendChild(divitem);
                  console.log(document.querySelector("#searchkeyword"));
                }
              });
          } else if (Page !== 0 && Page !== "null") {
            observer.unobserve(loadingObserver);
          } else {
            return;
          }
        }

        const loadingObserver = document.getElementsByClassName("foot")[0];
        const options = {
          threshold: 1,
        };
        const callback = ([entry]) => {
          if (searchkeyword.value == "" && Page !== 0 && entry.isIntersecting) {
            loadmore();
          }
        };
        let observer = new IntersectionObserver(callback, options);
        observer.observe(loadingObserver);
      }

      createdata();

      const searchkeyword = document.getElementById("searchkeyword");
      const searchBtn = document.getElementById("searchBtn");

      searchBtn.addEventListener("click", function () {
        observer.unobserve(loadingObserver);
        let ky = searchkeyword.value;
        function searchdata() {
          let img_list = [];
          let name_list = [];
          let mrt_list = [];
          let category_list = [];
          let Page = 0;
          let src =
            "http://127.0.0.1:3000/api/attractions?page=" +
            Page +
            "&keyword=" +
            ky;
          fetch(src)
            .then(function (response) {
              return response.json();
            })
            .then(function (result) {
              console.log(result.data);
              if (searchkeyword.value !== "" && result.data !== []) {
                let datas = result.data;
                let nextpage = result.nextPage;
                Page = nextpage;
                let oldpic = document.getElementsByClassName("warp")[0];
                while (oldpic.firstChild) {
                  oldpic.removeChild(oldpic.firstChild);
                }
                for (let i in datas) {
                  name_list.push(datas[i].name);
                  img_list.push(datas[i].images[0]);
                  mrt_list.push(datas[i].mrt);
                  category_list.push(datas[i].category);
                }
                for (let i = 0; i < datas.length; i++) {
                  let pic = document.getElementsByClassName("warp")[0];
                  let divitem = document.createElement("item");
                  let name_container = document.createElement("div");
                  let divtext = document.createElement("div");
                  let p_container = document.createElement("div");
                  let mrt_text = document.createElement("div");
                  name_container.className = "name_container";
                  mrt_text.className = "mrt_text";
                  let category_text = document.createElement("div");
                  category_text.className = "category_text";
                  let textNode = document.createTextNode(name_list[i]);
                  divitem.className = "item";
                  divtext.className = "pictext";
                  p_container.className = "p_container";
                  let imgNode = document.createElement("img");
                  imgNode.className = "cover";
                  let mrtNode = document.createTextNode(mrt_list[i]);
                  let categoryNode = document.createTextNode(category_list[i]);
                  imgNode.src = img_list[i];
                  divtext.appendChild(textNode);
                  mrt_text.appendChild(mrtNode);
                  name_container.appendChild(divtext);
                  category_text.appendChild(categoryNode);
                  p_container.appendChild(imgNode);
                  p_container.appendChild(name_container);
                  divitem.appendChild(p_container);
                  divitem.appendChild(mrt_text);
                  divitem.appendChild(category_text);
                  pic.appendChild(divitem);
                }
              } else {
                let oldpic = document.getElementsByClassName("warp")[0];
                while (oldpic.firstChild) {
                  oldpic.removeChild(oldpic.firstChild);
                }
                alert("查無此資料");
              }
            });
        }

        searchdata();
      });
    </script>
  </body>
</html>
