<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static', filename='booking.css')
    }}/>
  </head>
  <body>
    <div class="headout">
      <header>
        <div class="maintitle" type="button">台北一日遊</div>
        <nav class="nav_text">
          <a style="margin-right: 1rem" id="reservation_button">預定行程</a>
          <a id="login_button">登入/註冊</a>
          <div id="logout_button" type="button">登出系統</div>
        </nav>
      </header>
    </div>
    <div class="popup">
      <div class="popup-content">
        <div class="top-line"></div>
        <div class="popup-title">
          登入會員帳號
          <img src="../static/icon_close.svg" alt="Close" class="close" />
        </div>
        <form>
          <input
            class="login_input"
            type="text"
            placeholder="輸入電子郵件"
            name="e-mail"
            id="inputemail"
          />
          <input
            class="login_input"
            type="password"
            placeholder="輸入密碼"
            name="password"
            id="inputpassword"
          />
          <div>
            <button class="login_text" type="button">登入帳戶</button>
          </div>
        </form>
        <div class="loginerror"></div>

        <div class="no_account">
          <span>還沒有帳戶?</span>
          <a id="switch_sinup">點此註冊</a>
        </div>
      </div>
    </div>
    <div class="popup_signup">
      <div class="popup-content2">
        <div class="top-line"></div>
        <div class="popup-title">
          註冊會員帳號
          <img src="../static/icon_close.svg" alt="Close" class="close2" />
        </div>
        <form>
          <input
            class="login_input"
            type="text"
            placeholder="輸入姓名"
            name="name"
            id="singupname"
          />
          <input
            class="login_input"
            type="text"
            placeholder="輸入電子郵件"
            name="e-mail"
            id="singupemail"
          />
          <input
            class="login_input"
            type="password"
            placeholder="輸入密碼"
            name="password"
            id="singuppassword"
          />
          <div>
            <button class="siginup_text" type="button">註冊帳戶</button>
          </div>
        </form>
        <div class="successlogin"></div>
        <div class="have_account">
          <span>已經有帳戶了?</span>
          <a id="switch_login">點此登入</a>
        </div>
      </div>
    </div>
    <div id="booktitlebox">
      <div id="booktitle">
        <a>行程預定成功</a>
        <a>你的訂單編號如下</a>
      </div>
      <div id="numberBox"></div>
      <div id="remindnumber">請記住此編號，或到會員中心查詢歷史訂單</div>
    </div>

    <footer>
      <div class="foot">
        <div>COPYRIGHT © 2021台北一日遊</div>
      </div>
    </footer>
    <div id="extendout2">
      <div id="extend2"></div>
    </div>
    <script type="text/javascript" src="../static/booking.js"></script>
    <script type="text/javascript" src="../static/member.js"></script>
    <script type="text/javascript" src="../static/thankyou.js"></script>
  </body>
</html>
